.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
body{
  background-color: grey;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
* { box-sizing:border-box; }
svg {
  margin: auto;
}


.drumsvg {
  height: 100vh;
  width: 100vw;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
i {
  color: $white;
}
i:hover {
  color: $gray-light;
}

#Drums:hover {
  cursor: pointer;
}
ul {
  height:18.875em; width:34em;
  margin:5em auto; padding:3em 0 0 3em; position:relative; 
  border:1px solid #160801; border-radius:1em; 
  background:-webkit-gradient(linear, right bottom, left top, color-stop(0%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))), url('https://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png');
box-shadow:0 0 50px rgba(0,0,0,0.5) inset, 0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5); }
li { margin:0; padding:0; list-style:none; position:relative; float:left; }

ul .white {
  height:16em; width:4em; z-index:1;
  border-left:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset, 0 0 5px #ccc inset, 0 0 3px rgba(0,0,0,0.2);
  background: linear-gradient(top, #eee 0%,#fff 100%);
}

ul .white:active {
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset, -5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background: linear-gradient(top, #fff 0%,#e9e9e9 100%);
}

.black {
  height:8em; width:2em; margin:0 0 0 -1em; z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -5px 2px 3px rgba(0,0,0,0.6) inset, 0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg, #222 0%,#555 100%);
}

.black:active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset, 0 -2px 2px 3px rgba(0,0,0,0.6) inset, 0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(left, #444 0%,#222 100%);
}

.a,.g,.f,.d,.c { margin:0 0 0 -1em;  }

ul li:first-child { border-radius:5px 0 5px 5px; }
ul li:last-child { border-radius:0 5px 5px 5px; }

/*sequencer*/ 
.btn {
  font-size: 1.65em;
  font-weight: bold;
  line-height: 1;
  width: auto;
  margin: 0 0.125em;
  padding: 0.5rem;
  vertical-align: middle;
  text-decoration: none;
  color: #89939B;
  border: 0;
  border-radius: 2px;
  background: #B0B9C0;
}

.btn:focus,
.btn:hover {
  color: #2d2e36;
  border-color: #2d2e36;
  outline: none;
}

.btn:focus {
  color: #89939B;
}

.btn .fa {
  vertical-align: middle;
}

.sequencer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.row {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.row:hover {
  z-index: 100;
}



.sequencer-controls {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 10px 0 0 10px;
}

.sequencer label span {
  position: relative;
  display: block;
  width: 5vh;
    height: 5vh;
    margin: 0.5vh;
  border: 2px solid #89939B;
  border-radius: 2px;
  cursor: pointer;
}

.sequencer label input[type=checkbox]:checked ~ span {
  background: #89939B;
}

.sequencer label.active input[type=checkbox]:checked ~ span {
  background: #EB495D;
}

.sequencer label input {
  display: none;
}

.sequencer .active span {
  border-color: #EB495D;
}

.sequencer-controls .btn,
input[type=number] {
  font-size: 1.2rem;
  line-height: 1;
  margin: 5px;
  text-align: center;
  border: none;
  background: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#sequencer-active-btn {
  background-color: red;
  background:  url("play.png") no-repeat top;
  background-size: contain;
}

#bpm-decrease-btn {
  background: red;
}

#bpm-increase-btn {
  background: orange;
}
